:root {
    --gray: #c1dce6;
}

img {
    width: 100%;
}

html {
    font-size: 62.5%;
}

header {
    display: flex;
    position: fixed;
    width: 100%;
    max-width: 500px;
    height: 6rem;
    margin-inline: auto;
    background-color: #fff;
    align-items: center;
}

h1 {
    font-size: 2rem;
    letter-spacing: .2em;
}

h2 {
    margin-bottom: .2em;
}

header > div {
    width: 90%;
    margin-inline: auto;
}

body {
    max-width: 500px;
    margin-inline: auto;
    font-family: "M PLUS 1p", sans-serif;
    font-size: 1.8rem;
    letter-spacing: .08em;
    background-color: var(--gray);
}
section {
    background-color: #e7f9ff;
}

section>div {
    width: 90%;
    padding-bottom: 5rem;
    margin-inline: auto;
}

#intro {
    padding-top: 10rem;
}

#intro > div {
    display: flex;
    gap: 2rem;
    border-bottom: 1px solid var(--gray);
    align-items: center;
}

#intro img {
    width: 30%;
    border-radius: 50%;
}

#intro .text-block {
    width: 70%;
}

#intro .text-block p {
    font-size: 1.4rem;
    line-height: 1.3em;
    letter-spacing: .05em;
}

#chat > div > div {
    padding-block: 4rem;
    border-bottom: 1px solid var(--gray);
}


#chat > div > div:last-child {
    border-bottom: none;
}

#chat img {
    display: block;
    width: 3rem;
    aspect-ratio: 1/1;
    border: 1px solid var(--gray);
    border-radius: 50%;
}

#chat p {
    width: fit-content;
    padding: .5em .8em;
    border-radius: .5em;
}

.japan, .palau {
    display: flex;
    align-items: center;
    gap: .3em;
}

.japan {
    flex-direction: row-reverse;
    margin-bottom: 2rem;
}

.japan p {
    background-color: #dadada;
}

.palau p {
    background-color: #c5e1eb;
}