img {
    width: 100%;
}

html {
    font-size: 62.5%;
}


header {
    position: fixed;
    background-color: #fff;
    border-bottom: 1px solid #999999;
    width: 100%;
    max-width: 500px;
    margin-inline: auto;
}

h1 {
    line-height: 5rem;
    font-size: 1.8rem;
    height: 5rem;
}

header > div {
    width: 90%;
    margin-inline: auto;
}

body {
    background-color: #ccc;
    font-size: 1.8rem;
    max-width: 500px;
    margin-inline: auto;
}

section {
    background-color: #f7f7f7;
}

section>div {
    width: 90%;
    margin-inline: auto;
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 5rem;
}

#intro {
    padding-top: 10rem;
}

#intro > div {
    display: flex;
    align-items: center;
    gap: 2rem;
}

#intro img {
    border-radius: 50%;
    width: 30%;
}

#intro .text-block {
    width: 70%;
}

#intro .text-block p {
    font-size: 1.6rem;
}

#chat {
    padding-top: 5rem;
}

#chat > div > div {
    border-bottom: 1px solid #e4e4e4;
}

#chat img {
    display: block;
    width: 3rem;
    aspect-ratio: 1/1;
    border: 1px solid #ccc;
    border-radius: 50%;
}

#chat p {
    width: fit-content;
    padding: .5em .8em;
    border-radius: .5em;
    letter-spacing: .05em;
}

.japan, .palau {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    gap: .3em;
}

.japan {
    align-items: flex-end;
    flex-direction: row-reverse;
    margin-bottom: 2rem;
    margin-top: 3rem;
}

.palau {
    margin-bottom: 3rem;
    /* transform: translateY(-1.5em); */
}

.japan p {
    background-color: #dddddd;
}

.palau p {
    background-color: #c9e4eb;
}